/* Your application styles go here */
.pane {
  background: url(./../images/BG.jpg) no-repeat center center fixed;
  background-size: 100% 100%;
/*  overflow: hidden;*/
  position: absolute;
}

.item-icon-right {
  background-color: transparent;
}

.stage {
  float: right;
}

.bindIt {
  padding-top: 46.5%;
  padding-bottom: 10%;
/*  overflow: hidden;*/
}

.schedule {
  height: 395px;
}