/* Your application styles go here */

@font-face {
  font-family: 'CheltBolCon';
  font-style: normal;
  font-weight: 400;
  src: local('CheltBolCon'), local('CheltBolCon'), url(./../fonts/CheltBolCon);
}

html,
body {
  font-family: 'CheltBolCon';
}

.pane {
  background: url(./../images/BG.jpg) no-repeat center center fixed;
  background-size: 100% 100%;
/*  overflow: hidden;*/
  position: absolute;
}


/*CSS for iPhone 3 & 4*/
@media screen and (min-device-height: 400px) {
  .bindIt {
    padding-top: 20.5%;
  }

  .schedule {
    height: 333px;
  }
}

/*CSS for iPhone 5*/
@media screen and (min-device-height: 500px) {
	.bindIt {
	  padding-top: 28.5%;
	}

	.schedule {
	  height: 393px;
	}
}


.item-icon-right {
  background-color: transparent;
  width: 100%
}


.times {
  float: left;
}

.day {

}

.stage {
  float: right;
  margin-left: 50px;
  transform:rotate(90deg);
}

p {
 display: inline-block;
}

.divider {
  width: 240px;
  position: absolute;
  float: left;
}


.modal {
	background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#000000 100%,#131313 100%);
}

.handClose {
  position: absolute;
  z-index: 999999;
}


.sorted {
	position: absolute;
	width: 100%;
	height: 100%;
}

.popup {
  position: absolute;
  width: 92px;
  height: 306px;
  top: 175px;
  right: 23px;
}

.popup .row {
  padding: 0px;
}
.popup .col {
  padding: 0px;
}

.sort-button-az {
  margin-top: 75px;
}

.sort-button-stage {
  margin-top: 30px;
}

.sort-button-fav {
  margin-top: 23px;
}

