<div class="modal">

  <div class="handClose">
    <img ng-src="images/HAND.png" style="width: 100%; height: 100%; padding-top: 15px" ng-click="closeFaq()"/>
  </div>
  <div>
<!--     <ion-list>
  	  <ion-item class="item-icon-right item-text-wrap">
  	    <h1>When/Where is it?</h1>
    	<h2>When</h2><p>Fri Oct 3rd (Noon - 7pm, plus kids program 10:30am - Noon), Sat Oct 4th (11am - 7pm), and Sun Oct 5th, 2014 (11am - 7pm).</p>
  	  </ion-item>
  	</ion-list> -->
    <div style="padding-top: 50px; width: 3592px; height: 2112px; background: url('images/FAQ.png')no-repeat center center fixed; background-size:100% 100%">
    </div>

  </div>
</div>
