<div class="modal" style="padding-top: 20px; width: 3592px; height: 2112px; background: url('images/FAQ.png')no-repeat center center fixed; background-size:100% 100%">
  <div class="handClose">
    <img ng-src="images/HAND.png" style="width: 60%; height: 70%" ng-click="closeFaq()"/>
  </div>
  <ion-scroll>
  <ion-list>
    <ion-item>
    <p>'hey'</p>
    </ion-item>
    <ion-item>
    <p>'hey'</p>
    </ion-item>
    <ion-item>
    <p>'hey'</p>
    </ion-item>
    <ion-item>
    <p>'hey'</p>
    </ion-item>
    <ion-item>
    <p>'hey'</p>
    </ion-item>
    <ion-item>
    <p>'hey'</p>
    </ion-item>
    <ion-item>
    <p>'hey'</p>
    </ion-item>
    <ion-item>
    <p>'hey'</p>
    </ion-item>
    <ion-item>
    <p>'hey'</p>
    </ion-item>
    <ion-item>
    <p>'hey'</p>
    </ion-item>
    <ion-item>
    <p>'hey'</p>
    </ion-item>
    <ion-item>
    <p>'hey'</p>
    </ion-item>
    <ion-item>
    <p>'hey'</p>
    </ion-item>
    <ion-item>
    <p>'hey'</p>
    </ion-item>
     <ion-item>
    <p>'hey'</p>
    </ion-item>
    <ion-item>
    <p>'hey'</p>
    </ion-item>
    <ion-item>
    <p>'hey'</p>
    </ion-item>
    <ion-item>
    <p>'hey'</p>
    </ion-item>
    <ion-item>
    <p>'hey'</p>
    </ion-item>
    <ion-item>
    <p>'hey'</p>
    </ion-item>
    <ion-item>
    <p>'hey'</p>
    </ion-item>
    <ion-item>
    <p>'hey'</p>
    </ion-item>
  </ion-list>
</ion-scroll>
</div>
