<div class="modal">

  <div class="handClose">
 <!--    <img ng-src="images/HAND.png" style="height:120%; width: 120%; z-index: 9999999; padding-top: 15px;" ng-click="closeLogin()"/> -->
    <button class="button button-clear" ng-click="closeLogin()">
      <i class="ion-close"></i>
    </button>
  </div>
  <ion-scroll zooming="true" direction="xy" style="width: 320px; height: 568px; position: relative">
    <div style="width: 1796px; height: 1056px; background: url('images/MAP.jpg') no-repeat; postion: absolute; z-index: 9990000; background-size: cover; background-position: bottom">
    </div>
  </ion-scroll>
</div>