<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-view name="menuContent" animation="slide-left-right-ios7" scroll="false"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="right">
    <ion-pane class="pleaseWork" scroll="false" on-swipe-right="toggleSideMenu()">
        <div class="col">
          <button class="button button-clear sort-button-az" ng-click="triggerSortAZ()" menu-toggle="right"> </button>
          <button class="button button-clear sort-button-stage" ng-click="triggerSortStage()" menu-toggle="right"> </button>
          <button class="button button-clear sort-button-fav" ng-click="triggerSortFav()" menu-toggle="right"> </button>
        </div>
    </ion-pane>
  </ion-side-menu>
</ion-side-menus>
